<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<body>
    <h1>Polls</h1>
    {% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
            <p>
                Publier le{{question.pub_date}}
            </p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}

    <div style="margin-top: 20px; padding: 20px">
        <h2>Créer une nouvelle question</h2>
        <form method="POST" action="{% url 'polls:index' %}">
            {% csrf_token %}
            <label for="question_text">Question:</label><br>
            <textarea id="question_text" name="question_text" required></textarea><br><br>

            <label for="pub_date">Date de publication:</label><br>
            <input type="datetime-local" id="pub_date" name="pub_date" required><br><br>

            <button type="submit">Créer la question</button>
        </form>
    </div>
</body>

</html>