li a {
    color: rgb(254, 7, 225);
}


body {
    background: rgb(239, 235, 235) url("images/background.png") repeat;
    color: white;
}
nav a {
    display: flex;
    color: rgb(3, 255, 40);
    font-size: 25px;

    
    /* background-color: rgb(3, 4, 4); */

}

.sql{
    color: rgb(207, 243, 48);
    text-align: center;
    font-size: 25px;
    background-color: black;

}
.snippet{
    color: rgb(251, 113, 156);
    text-align: center;
    font-size: 25px;
    background-color: black;

}

.table-wrap{
    font-size: 20px;
    background-color: black;
}

